#drop_container {
  min-height: 150px;
  width: 250px;
  margin: 10px;
  padding: 10px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  border:2px solid #314B78;
  background-color:#4468A6;
  -webkit-box-shadow: #B3B3B3 3px 3px 3px;
  -moz-box-shadow: #B3B3B3 3px 3px 3px;
  box-shadow: #B3B3B3 3px 3px 3px;
}

#drop p {
  color:white;
  text-align: center;
  font-family: arial, helvetica, sans-serif;
  font-size: 25px;
}

#bar {
margin-left:auto;
  margin-right:auto;
  width:70%;
}

#bar progress {
  border-radius: 9px;
  background-color: white;
}

#bar progress::-webkit-progress-bar {
  padding: 2px;
  border-radius: 9px;
  background-color: white;
}

#bar progress::-webkit-progress-value {
  border-radius: 9px;
  background-color: #728E9F;
}

#bar progress::-moz-progress-bar {
  padding: 2px;
  border-radius: 9px;
  background-color: #728E9F;
}
